.wya-me-frame {
	flex: 0 0 365px;
	background: url(//wyatest.oss-cn-hangzhou.aliyuncs.com/image/commonxcx/mange/ios.png) no-repeat center top;
	height: 736px;
	._content {
		width: 322px; // 有滚动条
		padding-bottom: 20px;
		overflow: scroll;
		margin: auto;
		margin-top: 91px;
		background: #ededf4;
		position: relative;
		&::-webkit-scrollbar {
			width: 0;
		}
	}
}
