.wya-me-preview {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 999;
	.__mask {
		position: absolute;
		z-index: 997;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(#000, 0.5);
		opacity: 0;
		transition: opacity 0.2s;
	}
	.__container {
		position: absolute;
		z-index: 998;
		top: 50%;
		left: 50%;
		border-radius: 3px;
		opacity: 0;
		background: url(//wyatest.oss-cn-hangzhou.aliyuncs.com/image/commonxcx/mange/ios.png) no-repeat center top;
		height: 736px;
		width: 365px;
		transform: translate(-50%, -50%);
		transition: transform 0.2s, opacity 0.2s;
	}
	.__content {
		width: 322px; // 有滚动条
		height: 562px;
		padding-bottom: 20px;
		overflow: scroll;
		margin: auto;
		margin-top: 91px;
		background: #ededf4;
		position: relative;
		&::-webkit-scrollbar {
			width: 0;
		}
	}
	&.__active {
		.__mask {
			opacity: 1;
		}
		.__container {
			opacity: 1;
			transform: translate(-50%, -60%);
		}
	}
}
